[Unit]
Description=NVDARemote relay server
After=network.target

[Service]
Type=forking
PIDFile=/var/run/NVDARemoteServer.pid
ExecStart=/usr/bin/python /usr/share/NVDARemoteServer/server.py start
ExecStop=/usr/bin/python /usr/share/NVDARemoteServer/server.py stop
ExecReload=/usr/bin/python /usr/share/NVDARemoteServer/server.py restart

[Install]
WantedBy=multi-user.target
