[Unit]
Description=NVDARemote relay server
After=network.target

[Service]
Type=forking
User=nvdaremoteserver
PIDFile=/run/NVDARemoteServer/NVDARemoteServer.pid
ExecStart=/usr/bin/python /usr/share/NVDARemoteServer/server.py start
ExecStop=/usr/bin/python /usr/share/NVDARemoteServer/server.py stop
ExecReload=/usr/bin/python /usr/share/NVDARemoteServer/server.py restart
Restart=always
RestartSec=30s
CPUAccounting=true
MemoryAccounting=true
TasksAccounting=true
IOAccounting=true
IPAccounting=true
NoNewPrivileges=true
ProtectSystem=strict
PrivateDevices=true
PrivateIPC=true
PrivateTmp=disconnected
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=strict
RestrictAddressFamilies=AF_INET AF_INET6
ProtectProc=invisible
DynamicUser=true
ProtectHome=true
PrivateUsers=true
ProtectKernelModules=true
ProtectKernelLogs=true
RuntimeDirectory=NVDARemoteServer
LogsDirectory=NVDARemoteServer
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true
RemoveIPC=true

[Install]
WantedBy=multi-user.target
