[Unit]
Description=NVDARemote relay server
After=network.target

[Service]
Type=forking
User=nvdaremoteserver
PIDFile=/run/NVDARemoteServer/NVDARemoteServer.pid
ExecStart=/usr/bin/python /usr/share/NVDARemoteServer/server.py start
ExecStop=/usr/bin/python /usr/share/NVDARemoteServer/server.py stop
ExecReload=/usr/bin/python /usr/share/NVDARemoteServer/server.py restart
Restart=on-abnormal
RestartSec=30s

[Install]
WantedBy=multi-user.target
