Package: nvda-remote-server
Version: 1.9-1
Section: net
Priority: optional
Architecture: all
Depends: python, lsb-base, adduser
Maintainer: Jose Manuel Delicado <jmdaweb@hotmail.com>
Description: NVDARemote Relay server
 This server allows NVDARemote users to redirect their traffic.
  Don't forget to open the tcp port 6837 on your firewall
