Package: nvda-remote-server
Version: 1.3-1
Section: net
Priority: optional
Architecture: all
Depends: python
Maintainer: Technow <info@technow.es>
Description: NVDARemote Relay server
 This server allows NVDARemote users to redirect their traffic.
  Don't forget to open the tcp port 6837 on your firewall
